/* Import */
@import url(./main.css);
@import url(./footer.css);
@import url(./header.css);

/* General */
* { box-sizing: border-box; }

:root {
  --blue-light-1: #FBFAFB;
  --blue-light-2: #EEEAF2;
  --blue-medium-1: #DDE8F0;
  --blue-medium-2: #97CBDC;
  --blue-medium-3: #018ABD;
  --blue-dark-1: #004581;
  --blue-dark-2: #001B48;

  --yellow: #EECC75;
  --green: #CAD297;
  --aqua: #B7EAC5;
  --lightBlue: #A2EEE5;
  --darkBlue: #8EA2EA;
  --red: #F09D9D;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Red Hat Display', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

html {
  background-color: var(--blue-medium-3);
}

body {
  background-color: var(--blue-light-1);
  color: var(--blue-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 24px;
  color: var(--blue-dark-2);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 18px;
  color: var(--blue-dark-1);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--blue-dark-2);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: var(--blue-light-2);
  color: var(--blue-medium-2);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--blue-medium-1);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--blue-dark-1);
  border: none;
  color: var(--blue-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}

